.title {
    color: #F5F6F7;
    font-size: 23px;
    font-weight: 700;
    margin-left: 1em;
    text-align: center;
}

.daily-item {
    background-color: #F5F6F7;
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 20px;
    margin: 0 auto .5em;
    max-width: 700px;
}

.daily-item:last-child {
    margin-bottom: .5em;
}

.icon-small {
    width: 40px;
}

.day {
    color: #212121;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}

.desc {
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
}

.min-max {
    color: #757575
}

.daily-details-grid {
    padding: 5px 15px;
    background: linear-gradient(to right, 
    #d5d4d4 45%, 
    #757575, 
    rgb(101, 101, 101));
    border-radius: 15px;
    width: 96.5%;
    margin: 0 auto .5em;
    max-width: 690px;
}

.daily-details-grid-item {
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: space-between;
    color: #212121;
}


