.contact-labels {
    display: block;
    color: #dedede;
    font-size: 2em;
    margin: .25em;
    text-align: center;
}

.contact-inputs {
    margin: 0 auto;
    width: 80%;
    background-color: #aaaaaa;
    color: #F5F6F7;
    padding-left: .5em;
    padding: .75em;
    border-radius: 25px;
    border: none;
    font-size: 1.25em;
    box-shadow: 5px 5px 5px 2px rgb(27, 27, 27);

    
}


.form-container {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
}

.contact-button {
    display: block;
    margin: 1em auto;
    width: 65%;
    border: none;
    border-radius: 25px;
    background-color: #0e5ba8;
    color: #F5F6F7;
    height: 2.25em;
    box-shadow: 5px 5px 5px 2px rgb(27, 27, 27);
}

.contact-button:hover {
    cursor: pointer;
    background-color: #1a79d8;
}

.social-icon-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    align-items: center;
    margin-top: 2.5em;
}

.icon-flex {
    padding: auto;
    margin: 0 .5em;
}
