/* HERO SECTION */

.hero-img {
    height: 40vh;
    border-radius: 150px;
    margin: 1.5em auto .5em;
}

.hero-text {
    text-align: center;
    color: #F5F6F7;
    width: 80%;
    margin: 0 auto;
}

.hero-text > p {
    margin-top: .5em;
    font-size: 1.25em;
    text-align: center;
    word-wrap: normal;
}

.bio {
    text-align: center;
    color: #F5F6F7;
    margin: 1em auto;
    width: 80%;
}

.bio > p {
    margin-bottom: 1em;
}