.hero-content {
    color: #F5F6F7;
    margin: 0 auto;
    text-align: center;
}

.hero-img {
    margin: 0 auto;
    border-radius: 100%;
    width: 60%;
    max-width: 273px;
}

.about-me-text,
.tech-stack-text {
    color: #F5F6F7;
    font-family: Arial, Helvetica, sans-serif;
}

.about-me-text>h3,
.tech-stack-text>h3 {
    text-align: center;
    margin: .5em auto .15em;
    text-decoration: underline;
}

.about-me-text {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

p > a:visited {
    color: #2a99c5;
}

.tech-stack-text {
    width: 90%;
    margin: auto;
}

.tech-stack-text>h4 {
    color: #2a99c5;
    margin: .5em auto .2em;
}

.tech-list {
    margin: 0;
}

.home-spacer {
    margin: 0;
    border: 1px solid #F5F6F7;
}

.resume-container {
    text-align: center;
    width: 100%;
}

@media only screen and (min-width: 500px) {
   .bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    max-width: 1000px;
    margin: 1em auto;
   }

   .tech-stack-text {
    margin: 0;
    align-self: start;
   }

   .about-me-text {
    max-width: 405px;
   }
}

@media only screen and (min-width: 502px) {
    .resume-container {
        position: fixed;
        bottom: 0;
    }
}

@media only screen and (min-height: 920px) {
    .resume-container {
        position: fixed;
        bottom: 0;
    }
}

@media only screen and (min-height: 800px) and (min-width: 1280px) {
    .resume-container {
        position: fixed;
        bottom: 0;
    }
}