.projects-header {
    color: #F5F6F7;
    margin: .5em;
    text-align: center;
}

.project-container {
    text-align: center;
    color: #F5F6F7;
    background-color: rgb(96, 96, 96);
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-titles {
    margin: 1em auto .2em;
}

.project-tiles {
    width: 95%;
    margin: auto;
    border-radius: 10px;
}

.project-tiles:last-child {
    margin-bottom: 1em;
}

.bottom-spacer {
    height: .1em;
}

@media (min-width: 650px){
    
}