.projects-header {
    color: #F5F6F7;
    margin: .5em;
    text-align: center;
}

.project-container {
    text-align: center;
    color: #F5F6F7;
    background-color: rgb(96, 96, 96);
    width: 95%;
    margin: 0 auto 1em;
    border-radius: 20px;
}

.project-titles {
    margin: 1em auto .2em;
}

.project-tiles {
    width: 95%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px rgb(27, 27, 27);
    transition: all .2s ease-in-out;
}

.project-tiles:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 5px 2px rgb(197, 197, 197);
}

.project-tiles:last-child {
    margin-bottom: 1em;
}

.bottom-spacer {
    height: .1em;
}

@media (min-width: 650px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 auto;
    }

    .tile-containers {
        flex: 0 1 50%
    }

    .project-tiles:last-child {
        margin-bottom: 1em;
    }

    .bottom-spacer {
        height: 1em;
    }
    .bottom-spacer2 {
        height: 4em;
    }
}

@media (min-width: 1500px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 auto;
        box-shadow: 2px 2px 5px rgb(24, 24, 24);
    }

    .tile-containers {
        flex: 0 0 33%
    }

    .project-tiles:last-child {
        margin-bottom: 1em;
    }

    .bottom-spacer {
        height: 1em;
    }
    .bottom-spacer2 {
        height: 4em;
    }
}