@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

.header {
    text-align: center;
    font-family: 'Azeret Mono', monospace;
    color: #F5F6F7;
    margin: .5em;
}

.form-child {
    border-radius: 20px;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

textarea {
    width: 100%;
    background-color: rgb(234, 234, 234);
    margin-bottom: .5em;
    border-radius: 20px;
    padding: 1em;
    box-shadow: 5px 5px 5px 2px rgb(27, 27, 27);
}

.language-selector {
    width: 60%;
    margin-bottom: .8em;
    box-shadow: 2px 2px 2px 2px rgb(29, 29, 29);
    text-align: center;
}
.app-body {
    max-width: 700px;
    margin: 1em auto;
    text-align: center;
    width: 100%;
}

.translate-button {
    border-radius: 20px;
    border: none;
    width: 25%;
    height: 2em;
    box-shadow: 2px 2px 4px 1px rgb(27, 27, 27);
    background-color: #000000;
    color: #F5F6F7;

}

.translate-button:hover {
    cursor: pointer;
    background-color: #F5F6F7;
    color: #000000;
}